<div class="header">
  <div class="header-list">
    <div class="title">TAMA-RAMEN</div>
    <div class="sub-title">東京・多摩地区限定ラーメン</div>
    <div class="right-header">
  </div><!--right-header-->
</div><!--header-list-->

<div class="search-form">
  <div class="search-input">
     <div>エリア・店名で探す</div>
    <form class="form-inline">
      <%= search_form_for @p, url: search_shops_path do |f| %>
          <div>
          <ul id="result">
          </ul>
          </div>
        <%= f.search_field :name_cont, placeholder:":お店の名前", class: "name-form " ,id: "form" %>
        <%= f.search_field :address_cont, placeholder:"例)多摩市", class: "address", id: "address" %>
        <div class="cp_ipselect cp_sl04">
          <%= f.collection_select :category_name_eq, @category_name, :name, :name, include_blank: '指定なし', class:"custom-select" %>
        </div>
          <%= f.submit '検索' %>
        
      <% end %>
    </form>
<div class="mypage-room">
  <div class="mypage">

  <% if user_signed_in? %>
    <div class="user-section">
      <% if @user.avatar.attached? %>
      <div class="user-image">
        <%= image_tag @user.avatar.variant(resize:'90x90') %>
      </div>
      <% else %>
      <div class="user-image">
        <%= image_tag(asset_path('noimage.png'), :size => "90x90")%>
      </div>
      <% end %>

      <div class="usernickname-link">
        <%= link_to "#{current_user.nickname}さん", user_path(current_user.id), class: "usernickname-link" %>
      </div>
      <div class="new-shop-link">
        <%= link_to  "お店を投稿する", new_shop_path, class: "new-shop"%>
      </div>

    <div class="logout-link">
        <%= link_to "ログアウトする", destroy_user_session_path, method: :delete, class: "logout" %>
    </div><!--login-->
   </div><!--user-section-->

 <% else %>
  <div class="user-section">
    <div class="no-login">
      ログインするとお店の投稿や行ったお店の管理ができます
    </div>

     <div class="sign-in-link">    
      <%= link_to  "新規登録", new_user_registration_path, class: "sign-in"%>
      </div>
      <div class="login-link">
      <%= link_to  "ログイン", new_user_session_path, class: "login" %>
      </div>

    
      </div>
    <% end %>
</div><!--mypage-->
</div><!--mypage-room-->

    </div><!--seach-input-->
  </div><!--seach-form-->
</div><!--header-->

<div class="main">


   <div class="area">
    <h6 class="list-title">エリアから探す</h6>

    <div class="north-south">
      <div class="north">
        <div class="area-title">
        <i class="fas fa-seedling"></i>
          北多摩エリア
        </div>
        <ul class="area-section">
        <li class="link"><%= link_to  "西東京市", "/shops/search?q%5Baddress_cont%5D=西東京市" %></li>
        <li class="link"><%= link_to  "東久留米市", "/shops/search?q%5Baddress_cont%5D=東久留米市" %></li>
        <li class="link"><%= link_to  "清瀬市", "/shops/search?q%5Baddress_cont%5D=清瀬市" %></li>
        <li class="link"><%= link_to  "小平市", "/shops/search?q%5Baddress_cont%5D=小平市" %></li>
        <li class="link"><%= link_to  "東村山市", "/shops/search?q%5Baddress_cont%5D=東村山市" %></li>
        <li class="link"><%= link_to  "東大和市", "/shops/search?q%5Baddress_cont%5D=東大和市" %></li>
        <li class="link"><%= link_to  "武蔵村山市", "/shops/search?q%5Baddress_cont%5D=武蔵村山市" %></li>

        </ul>
      </div><!--north-->

    <div class="north-south">
      <div class="north">
        <div class="area-title">
        <i class="fas fa-seedling"></i>
          南多摩エリア
        </div>
        <ul class="area-section">
        <li class="link"><%= link_to  "多摩市", "/shops/search?q%5Baddress_cont%5D=多摩市" %></li>
        <li class="link"><%= link_to  "町田市", "/shops/search?q%5Baddress_cont%5D=町田市" %></li>
        <li class="link"><%= link_to  "稲城市", "/shops/search?q%5Baddress_cont%5D=稲城市" %></li>
        <li class="link"><%= link_to  "日野市", "/shops/search?q%5Baddress_cont%5D=日野市" %></li>
        <li class="link"><%= link_to  "八王子", "/shops/search?q%5Baddress_cont%5D=八王子" %></li>
        <li class="link"><%= link_to  "府中市", "/shops/search?q%5Baddress_cont%5D=府中市" %></li>
        </ul>
      </div><!--north-->
    </div><!--north-south-->

    <div class="north-south">
      <div class="north">
        <div class="area-title">
        <i class="fas fa-seedling"></i>
          西多摩エリア
        </div>
        <ul class="area-section">
        <li class="link"><%= link_to  "昭島市", "/shops/search?q%5Baddress_cont%5D=昭島市" %></li>
        <li class="link"><%= link_to  "立川市", "/shops/search?q%5Baddress_cont%5D=立川市" %></li>
        <li class="link"><%= link_to  "福生市", "/shops/search?q%5Baddress_cont%5D=福生市" %></li>
        <li class="link"><%= link_to  "羽村市", "/shops/search?q%5Baddress_cont%5D=羽村市" %></li>
        <li class="link"><%= link_to  "青梅市", "/shops/search?q%5Baddress_cont%5D=青梅市" %></li>
        <li class="link"><%= link_to  "あきる野市", "/shops/search?q%5Baddress_cont%5D=あきる野市" %></li>
        <li class="link"><%= link_to  "瑞穂町", "/shops/search?q%5Baddress_cont%5D=瑞穂町" %></li>
        </ul>
      </div><!--north-->

    <div class="north-south">
      <div class="north">
        <div class="area-title">
        <i class="fas fa-seedling"></i>
          東多摩エリア
        </div>
        <ul class="area-section">
        <li class="link"><%= link_to  "小金井市", "/shops/search?q%5Baddress_cont%5D=小金井市" %></li>
        <li class="link"><%= link_to  "国立市", "/shops/search?q%5Baddress_cont%5D=国立市" %></li>
        <li class="link"><%= link_to  "国分寺市", "/shops/search?q%5Baddress_cont%5D=国分寺市" %></li>
        <li class="link"><%= link_to  "三鷹市", "/shops/search?q%5Baddress_cont%5D=三鷹市" %></li>
        <li class="link"><%= link_to  "武蔵野市", "/shops/search?q%5Baddress_cont%5D=武蔵野市" %></li>
        <li class="link"><%= link_to  "調布市", "/shops/search?q%5Baddress_cont%5D=調布市" %></li>
        <li class="link"><%= link_to  "狛江市", "/shops/search?q%5Baddress_cont%5D=狛江市" %></li>
        </ul>
      </div><!--north-->
    </div><!--north-south-->
   </div><!--area-->

    <div class="category">
        <h6 class="list-title">カテゴリーから探す</h6>
        <div class="north-south">
          <div class="north">
              <div class="area-title">
              <i class="fas fa-tag"></i>
                カテゴリー
              </div>
            <ul class="area-section">
            <li class="link"><%= link_to  "しょうゆ", "/shops/search?q%5Baddress_cont%5D=しょうゆ" %></li>
            <li class="link"><%= link_to  "みそ", "/shops/search?q%5Baddress_cont%5D=みそ" %></li>
            <li class="link"><%= link_to  "とんこつ", "/shops/search?q%5Baddress_cont%5D=とんこつ" %></li>
            <li class="link"><%= link_to  "しお", "/shops/search?q%5Baddress_cont%5D=しお" %></li>
            <li class="link"><%= link_to  "つけ麺", "/shops/search?q%5Baddress_cont%5D=つけ麺" %></li>
            <li class="link"><%= link_to  "坦々麺", "/shops/search?q%5Baddress_cont%5D=坦々麺" %></li>
            <li class="link"><%= link_to  "油そば", "/shops/search?q%5Baddress_cont%5D=油そば" %></li>
            <li class="link"><%= link_to  "家系", "/shops/search?q%5Baddress_cont%5D=家系" %></li>
            <li class="link"><%= link_to  "二郎系", "/shops/search?q%5Baddress_cont%5D=二郎系" %></li>
            <li class="link"><%= link_to  "その他", "/shops/search?q%5Baddress_cont%5D=その他" %></li>
            </ul>
          </div><!--north-->
        </div><!--north-south-->
    </div><!--category-->

      <div class="posts">
        <h6 class="list-title">新しい投稿から探す</h6>
        <div class="new-posts">
          <% if @shops.length != 0 %>
            <% @shops.each do |shop| %>
              <div>
              <div class="shop-image">
              <%= image_tag shop.image.variant(resize:'130x130'), class: '#' if shop.image.attached? %>
              </div>
              
              <div class="shop-info">
              <span><%= link_to shop.name, shop_path(shop.id) %></span><br>
              <span>ｶﾃｺﾞﾘｰ：<%= shop.category.name %></span><br>
              <span>投稿者：<%= shop.user.nickname %>さん</span><br>
              </div>
            </div>
            <% end %>
          <% end %>
        </div><!--new-post-->
      </div><!--posts-->
</div><!--main-->


 <div class="footer">
  <div class="footer-content">

    <div class="langege">
    <ul class="lang">
    <li class="lang-list">言語：</li>
    <li class="lang-list">English</li>
    <li class="lang-list">简体中文</li>
    <li class="lang-list">繁体中文</li>
    <li class="lang-list">한국어</li>
    </ul>
    </div>

    <div class="footer-logo">
    <div class="footer-title">
       TAMA RA-MEN
    </div>

    <div class="contact">
    お問い合わせ
    </div>
    </div>
  </div>
</div><!--footer--> 








