<p>TOPページ</p>

<% if user_signed_in?  %>
<p>ログインしてるよ</p>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
<% else %>
<p>ログインしてないよ</p>
<%= link_to  "ログイン", new_user_session_path %>
<% end %>

<% if user_signed_in?  %>
<%= current_user.nickname %>
<% end %>

  
<h1>
  お店の検索
</h1>
<%= search_form_for @p, url: search_shops_path do |f| %>
  <%= f.label :name_cont, '名前' %>
  <%= f.search_field :name_cont, placeholder:"お店の名前" %>
  <br>
  <%= f.label :genre_eq, 'ジャンル' %>
  <%= f.collection_select :genre_eq, @shop_genre, :genre, :genre,  include_blank: '指定なし' %>
  <br>
  <%= f.label :area_eq, '地域' %>
  <%= f.collection_select :area_eq, @shop_area, :area, :area,  include_blank: '指定なし' %>
 <br>
  <%= f.submit '検索' %>
<% end %>



  <% if @shops.length != 0 %>
    <% @shops.each do |shop| %>
      <%= link_to shop.name, shop_path(shop.id) %>
      <h5><%= shop.text %></h5>
      <h5><%= shop.genre %></h5>
      <h5><%= shop.area %></h5>
    <% end %>
  <% end %>

  <%= link_to  "お店の登録", new_shop_path %>