<p>TOPページ</p>

<% if user_signed_in?  %>
<p>ログインしてるよ</p>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: '#'%>
<% else %>
<p>ログインしてないよ</p>
<%= link_to  "新規登録", new_user_registration_path %>
<%= link_to  "ログイン", new_user_session_path %>
<% end %>

<% if user_signed_in?  %>
<%= image_tag @user.avatar.variant(resize:'90x90'), class: '#' if @user.avatar.attached? %>
<%= link_to current_user.nickname, user_path(current_user.id) %>
<% end %>

  
<h1>
  お店の検索
</h1>
<%= search_form_for @p, url: search_shops_path do |f| %>
  <%= f.label :name_cont, 'お店の名前' %>
  <%= f.search_field :name_cont, placeholder:"お店の名前" %>
  <br>
  <%= f.label :category_name_eq, 'カテゴリー：' %>
    <%= f.collection_select :category_name_eq, @category_name, :name, :name, include_blank: '指定なし' %>
    <br>
    <%= f.label :address_cont, 'エリア' %>
  <%= f.search_field :address_cont, placeholder:"例)多摩市" %>
  <br>
  <%= f.submit '検索' %>
<% end %>

<ul>
<li>エリアから探す</li>
<li><%= link_to  "小平市", "/shops/search?q%5Baddress_cont%5D=小平市" %></li>
<li><%= link_to  "東村山市", "/shops/search?q%5Baddress_cont%5D=東村山市" %></li>
<li><%= link_to  "立川市", "/shops/search?q%5Baddress_cont%5D=立川市" %></li>
<li><%= link_to  "東大和市", "/shops/search?q%5Baddress_cont%5D=東大和市" %></li>
<li><%= link_to  "武蔵村山市", "/shops/search?q%5Baddress_cont%5D=武蔵村山市" %></li>
<li><%= link_to  "昭島市", "/shops/search?q%5Baddress_cont%5D=昭島市" %></li>
</ul>

<ul>
<li>人気カテゴリーから探す</li>
<li><%= link_to  "家系", "/shops/search?q%5Bcategory_name_eq%5D=家系" %></li>
<li><%= link_to  "とんこつ", "/shops/search?q%5Bcategory_name_eq%5D=とんこつ" %></li>
<li><%= link_to  "しお", "/shops/search?q%5Bcategory_name_eq%5D=しお" %></li>
<li><%= link_to  "二郎系", "/shops/search?q%5Bcategory_name_eq%5D=二郎系" %></li>
</ul>

<ul>
<li>新しい投稿から探す</li>
<li><%= link_to  "二郎系", "/shops/search?q%5Bcategory_name_eq%5D=二郎系" %></li>
</ul>


  <% if @shops.length != 0 %>
    <% @shops.each do |shop| %>
      <%= link_to shop.name, shop_path(shop.id) %>
      <% breadcrumb :root %>
      <%= image_tag shop.image.variant(resize:'150x150'), class: '#' if shop.image.attached? %>
      <h5><%= shop.text %></h5>
      <h5><%= shop.category.name %></h5>
    <% end %>
  <% end %>

    <%= paginate(@shops) %>

  <%= link_to  "お店の登録", new_shop_path %>
