<%= render "shared/header" %>
<div class ="results-area">

  <div class="results-area-title">
    <% if params[:q].present? && params[:q][:name_cont].present? %>
         店舗名:「<%= params[:q][:name_cont] %>」
    <% end  %>
    <% if params[:q].present? && params[:q][:address_cont].present? %>
         エリア:「<%= params[:q][:address_cont] %>」
    <% end %>
 <% if params[:q].present? && params[:q][:category_name_eq].present? %> 
         カテゴリー:「<%= params[:q][:category_name_eq] %>」
    <% end %>
    店舗一覧　 全<%= @show_results.count %>件 
  </div>
          <%= link_to(root_path) do %>
            <i class="fas fa-home root-path">TOPへ</i>
          <% end %>


    <div class="paginate">
      <%= paginate(@results) %>
    </div>
<%#= sort_link(@p, :name, "name",hide_indicator: true) %>
<%#= sort_link(@p, :created_at, "created_at") %>
<%#= sort_link(@review_rate, :created_at, "評価") %>

  <%= render "shared/each" %>
  
    <span class="paginate">
      <%= paginate(@results) %>
    </span>
<%= render "shared/footer" %>




 
