<h3><%= @shop.name %></h3>
<h5><%= @shop.text %></h5>
<h5><%= @shop.genre %></h5>
<h5><%= @shop.area %></h5>

<%= link_to  "メニュー", shop_menus_path(@shop) %>
<%#= link_to  "口コミ", model %>
<%= link_to  "TOPへ", root_path %>