<%= image_tag @shop.image.variant(resize:'300x300'), class: '#' if @shop.image.attached? %>
<h3><%= @shop.name %></h3>
<h5><%= @shop.text %></h5>
<h5><%= @shop.category.name %></h5>

<% if user_signed_in? %>
  <% if Good.find_by(user_id: current_user.id, shop_id: @shop.id) %>
      <%= link_to(good_path(@shop.id),method: :delete) do %>
      <i class="far fa-laugh-beam">お気に入り</i>
      <% end %>
  <% else %>
    <%= link_to(shop_goods_path(@shop.id),method: :post) do %>
      <i class="far fa-meh">検討中</i>
    <% end %>
  <% end %>

  <% if Went.find_by(user_id: current_user.id, shop_id: @shop.id) %>
      <%= link_to(went_path(@shop.id),method: :delete) do %>
      <i class="far fa-laugh-beam">行った</i>
      <% end %>
  <% else %>
    <%= link_to(shop_wents_path(@shop.id),method: :post) do %>
      <i class="far fa-meh">行ってない</i>
    <% end %>
  <% end %>
  <% else%>
  <h6>※ログインしたらお店の管理や口コミができるよ※</h6>
<% end %>


<% if @shop.reviews.present? %>
<h5><%= @shop.reviews.average(:rate).floor(2) %></h5>
<% end %>

<div id="star"></div><!--star-->
  <script>
  $('#star').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    readOnly: true,
    score: <%= @shop.reviews.average(:rate) %>,
  });
  </script> 

<%= link_to  "メニュー", shop_menus_path(@shop) %>
<%= link_to  "口コミ", shop_reviews_path(@shop) %>
<%= link_to  "Mapへ", shop_maps_path(@shop) %>

<% if user_signed_in? && current_user.id == @shop.user.id %>
  <%= link_to  "編集", edit_shop_path %>
  <%= link_to  "削除", shop_path, method: :delete,data: { confirm: '削除しますか？' } %>
<% end %>
<%= link_to(root_path) do %>
<i class="fas fa-home"></i>
<% end %>