<%= render "shared/header" %>
<div class="good-main">
 <div class="results-area-title">
    行ったお店
  </div>
          <%= link_to(root_path) do %>
            <i class="fas fa-home root-path">TOPへ</i>
          <% end %>


    <div class="paginate">
      <%= paginate(@wents) %>
    </div>
    

  <% if @wents.length !=0 %>
      <% @wents.each do |went| %>
        <%= render partial: "shared/each", locals: {result: went.shop} %>
      <% end %><!--each-->
    <% else %>
    <div class="nothig">
      行ったお店がありません
    </div>
    <% end %><!---if-length-->

</div><!--results-area-->
    <span class="paginate">
      <%= paginate(@wents) %>
    </span>
  </div> 
</div>


