<%= render "shared/header" %>

<div class="user-main">
  <div class="user-header">
   <div class="user-header-area ">

    <div class="user-edit">

        <div class="contents-item1">
          <div>クチコミ数 ：<%= @reviews.count %></div>
          <div><%= link_to  "お気に入り", shop_goods_path(@user) %>
        ：<%= @goods.count %></div>
        <div><%= link_to  "行ったお店", shop_wents_path(@user) %>
        ：<%= @wents.count %></div>
        </div> 

      <div class="user-contents-list">
      <div><%= link_to "アカウントの編集", edit_user_path(current_user.id) %></div>
      <div><%= link_to  "TOPへ", root_path %></div>
      </div> 

    </div>



    <div class="user-avatar">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(gravity: :center, resize:"150x150^", crop:"150x150+0+0").processed  %>
      <% else %>
        <%= image_tag(asset_path('noimage.png'), :size => "150x150") %>
      <% end %>
    </div>

  <div class="user-nickname">
     <%= "#{current_user.nickname}さん" %>
  <div>

    <div class="user-contents-left">
      <% if @user.text.present? %>
      <%= @user.text %>
      <% end %>
      
    </div>

   </div><!--user-header-area-->
  </div><!--user-header-->



 <div class="user-contents"> 

  <div class="user-contents-right">
     <div class="user-post-title"><i class="fas fa-quidditch">
     投稿したお店</i></div>

      <div class="new-posts"> 
       <% if @shops.length != 0 %>
        <% @shops.each do |shop| %>
        <div>
          <div class="shop-image">
          <%= image_tag shop.image.variant(gravity: :center, resize:"100x100^", crop:"100x100+0+0").processed, class: '#' if shop.image.attached? %>
          </div>
          <div class="shop-info">
          <span><%= link_to shop.name, shop_path(shop.id) %></span><br>
          </div>
          <div class="shop-info">
          <span>ｶﾃｺﾞﾘｰ：<%= shop.category.name %></span><br>
          </div>
          <% if shop.reviews.present? %>
            <span class="review-rate">
            <%= shop.reviews.average(:rate).floor(2) %>
            </span>
              <div id="star-<%= shop.id %>"></div><!--star-->
                <script>
                $('#star-<%= shop.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  readOnly: true,
                  score: <%= shop.reviews.average(:rate) %>,
                });
                </script> 
          <% else %>
          <span class="review-rate">
          0.0
          </span><br>
          <%= image_tag asset_path('star-off.png'), class: '#' %>
          <%= image_tag asset_path('star-off.png'), class: '#' %>
          <%= image_tag asset_path('star-off.png'), class: '#' %>
          <%= image_tag asset_path('star-off.png'), class: '#' %>
          <%= image_tag asset_path('star-off.png'), class: '#' %><br>
          *口コミ未投稿*<br>
          <% end %>



        </div>
        <% end %>
      <% end %>
      </div>
 </div><!--user-contents-right-->
  </div><!--user-contents-->
</div><!--user-main-->
<%= render "shared/footer" %>
