<%= render "shared/header" %>

<div class="user-main">
  <div class="user-header">
   <div class="user-header-area ">

    <div class="user-edit">
    </div>



    <div class="user-avatar">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(gravity: :center, resize:"150x150^", crop:"150x150+0+0").processed  %>
      <% else %>
        <%= image_tag(asset_path('noimage.png'), :size => "150x150") %>
      <% end %>

        <div class="contents-item1">
          <div class="user-info">  口コミ数　：<%= @reviews.count %></div>
          <div class="user-info">お気に入り：<%= @goods.count %></div>
        <div class="user-info">行ったお店：<%= @wents.count %></div>
        <div class="user-info"><%= link_to "アカウント編集", edit_user_path(current_user.id) %></div>
        <div class="user-info"><%= link_to  "TOPへ", root_path %></div>
        </div>


    </div>

    

  <div class="user-nickname">
     <%= "#{current_user.nickname}さん" %>
  <div>

    <div class="user-contents-left">
      <% if @user.text.present? %>
      <%= @user.text %>
      <% end %>

    </div>

   </div><!--user-header-area-->
  </div><!--user-header-->



 <div class="user-contents"> 

  <div class="user-contents-right">
    <div class="user-tab">
     <div class="user-post-title tab_btn is-active-btn" href="#item1"><i class="fas fa-quidditch"></i>
     投稿したお店</div>
     <div class="user-post-title tab_btn" href="#item2"><i class="far fa-laugh-beam good-check">お気に入り</i></div>
     <div class="user-post-title tab_btn" href="#item3"><i class="fas fa-user-check check"></i>行ったお店</div>
    <div class="user-post-title tab_btn" href="#item4"><i class="fas fa-edit"></i>アカウント編集</div>
    </div>

    <div class="tab_item is-active-item " id="item1">
        <% if @shops.length != 0 %>
          <% @shops.each do |shop| %>
        <%= render partial: "shared/each", locals: {result: shop} %>
            <% end %>
        <% else %>
            <div class="nothig">
              投稿した店舗がありません
            </div>
          <% end %>
    </div>

    <div class="tab_item" id="item2">
     <% if @goods.length !=0 %>
      <% @goods.each do |good| %>
         <%= render partial: "shared/each", locals: {result: good.shop} %>
      <% end %><!--each-->
    <% else %>
    <div class="nothig">
      お気に入りがありません
    </div>
    <% end %><!---if-length-->
    </div>

    <div class="tab_item" id="item3">
        <% if @wents.length !=0 %>
      <% @wents.each do |went| %>
        <%= render partial: "shared/each", locals: {result: went.shop} %>
      <% end %><!--each-->
    <% else %>
    <div class="nothig">
      行ったお店がありません
    </div>
    <% end %><!---if-length-->
    </div>

    <div class="tab_item" id="item4">
    <div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h3>アカウント編集</h3>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: current_user, local: true do |f|%>
      <div class='field'>
        <div class='field-label'>
          <%= f.label :写真 %>
        </div>
        <div class='field-input'>
          <%= f.file_field :avatar, id:"image" %>
          <div id="image-list"></div>
        </div>
      </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :nickname%>
          </div>
          <div class='field-input'>
            <%= f.text_field :nickname, autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :email%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email%>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :自己紹介%>
          </div>
          <div class='field-input'>
            <%= f.text_field :text %>
          </div>
        </div>

        <div class='actions'>
          <%= f.submit "更新", class: 'btn'%>
        </div>
      <% end %>
    </div>
  </div>
</div>

    </div>




 </div><!--user-contents-right-->
  </div><!--user-contents-->
<%#= render "shared/footer" %>
</div><!--user-main-->


