<%= render "shared/header" %>
<div class="good-main">
 <div class="results-area-title">
    お気に入り
  </div>
          <%= link_to(root_path) do %>
            <i class="fas fa-home root-path">TOPへ</i>
          <% end %>


    <div class="paginate">
      <%= paginate(@goods) %>
    </div>
    

  <% if @goods.length !=0 %>
      <% @goods.each do |good| %>
         <%= render partial: "shared/each", locals: {result: good.shop} %>
      <% end %><!--each-->
    <% else %>
    <div class="nothig">
      お気に入りがありません
    </div>
    <% end %><!---if-length-->

</div><!--results-area-->
    <span class="paginate">
      <%= paginate(@goods) %>
    </span>
  </div> 
</div>


