<h3>Review</h3>
<%= link_to  "口コミする", new_shop_review_path %>
<%= link_to(root_path) do %>
<i class="fas fa-home"></i>
<% end %>

  <% if @reviews.length != 0 %>
    <% @reviews.each do |review| %>
      <h6><%= review.user.nickname %>さん</h6>
      <% if review.user.avatar.attached? %>
        <%= image_tag review.user.avatar.variant(resize:'50x50')  %>
      <% else %>
        <%= image_tag(asset_path('noimage.png'), :size => "90x90") %>
      <% end %>

      <h5>タイトル：<%= review.title %></h5>
      <h5>内容：<%= review.text %></h5>
      <h5>評価：<%= review.rate %></h5>
      <div id="star-<%= review.id %>"></div><!--star-->
        <script>
        $('#star-<%= review.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          readOnly: true,
          score: <%= review.rate %>,
        });
        </script> 
        <% if user_signed_in? && current_user.id == review.user.id %>
        <%= link_to  "編集", edit_review_path(review.id) %>
        <%= link_to  "削除", review_path(review.id), method: :delete,data: { confirm: '削除しますか？' }%>
        <% end %>
    <% end %>
  <% end %>



