<h3>Review</h3>

  <% if @reviews.length != 0 %>
    <% @reviews.each do |review| %>
      <h5><%= review.user.nickname %></h5>
      <h5><%= review.title %></h5>
      <h5><%= review.text %></h5>
      <h5><%= review.rate %></h5>
      <div id="star-<%= review.id %>"></div><!--star-->
        <script>
        $('#star-<%= review.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          readOnly: true,
          score: <%= review.rate %>,
        });
        </script> 
    <% end %>
  <% end %>


<%= link_to  "口コミする", new_shop_review_path %>
<%= link_to(root_path) do %>
<i class="fas fa-home"></i>
<% end %>