<%= render "shared/header" %>

<div class="review-new-area">

<%= link_to(shop_path(params[:shop_id])) do %>
<i class="fas fa-backward show-reviewback-path">もどる</i>
<% end %>



<div class="review-form">
<div class="review-title">口コミの投稿</div>
<%= form_with model: [@shop,@review], url: shop_reviews_path, local: true do |f| %>
<%= render 'shared/error_messages', model: f.object %>

  <div class='field-label'>
    <%= f.label :タイトル %>
  </div>
  <div class=''>
    <%= f.text_field :title, autofocus: true, class: "review-field-input"%>
  </div>
  <div class='field-label'>
    <%= f.label :内容 %>
  </div>
  <div class='review-field-input'>
    <%= f.text_area :text, autofocus: true, class: "review-field-text"%>
  </div>


<div class="star-button">

  <div class='actions'>
    <%= f.submit "口コミする", class: 'review-submit btn btn-success'%>
  </div>


  <div class="field" id="star">
    <%= f.label :評価： %>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>

 <script>
  window.onload = function(){ 
    $('#star').raty({
    size     : 36,
    starOff: '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf:'<%= asset_path('star-half.png') %>',
    half: true,
    halfShow: true,   
    scoreName: 'review[rate]',
          });
   };
  </script> 


  <div>
</div>
  
  </div>
<% end %>

  </div>
</div>
<%= render "shared/footer" %>
